# 以 # 开头为注释
# 在前面添加斜杠 / 来避免递归，例如：/hey,则为只在当前目录下忽略 hey 文件
# 在后面添加斜杠 / 忽略文件夹
# 使用 ！ 否定忽略
# * 单星号来匹配零个或者多个字符，如：*.js, 则忽略所有的 .js 文件
# ** 双星号来匹配任一中间目录

.DS_Store
**/node_modules/
./back/config/
./back/test.js
./.vscode/